.header_container {
  width: 80%;
  margin: 0 auto;
  /* background-color: #1d2d50; */

  background: linear-gradient(to bottom right, #1d2d50 30%, #1e5f74);
  height: 35vh;
  border: 10px solid #fcdab7;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header_content img {
  width: auto;
  height: 90%;
  border-radius: 50%;
}

.header_intro {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-left: 20px;
}

.header_changingTitle {
  color: #fcdab7;
  font-size: 28px;
  animation: fadeIn 2s infinite;
  display: block;
  font-weight: bold;
}

.header_title {
  color: #fcdab7;
  display: block;
  margin-top: 5px;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header_container {
    width: 90%;
    height: 25vh;
  }

  .header_intro {
    font-size: 18px;
  }

  .header_changingTitle {
    font-size: 22px;
  }
}
