.contact_container {
  background-image: url(./../Images/background/wall.jpg);
  background-size: 100%;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  animation: slide_contact 1s;
}

@keyframes slide_contact {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.contact_info {
  font-family: "Open Sans", sans-serif;
  background-color: #fcdab7;
  color: #1d2d50;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact_title {
  display: block;
  padding-top: 20px;
  font-weight: bold;
}

.contact_mailIcon {
  display: block;
  margin-top: 30px;
}

.contact_content {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #1d2d50;
}

.contact_gitIcon {
  display: block;
  margin-top: 20px;
}

.contact_gitContent {
  display: block;
}

@media (max-width: 768px) {
  .contact_container {
    height: 58vh;
  }

  .contact_info {
    font-size: 16px;
    width: 75%;
    height: 45%;
  }

  .contact_mailIcon {
    margin-top: 10px;
  }

  .contact_gitIcon {
    margin-top: 5px;
  }
}
