@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.project_container {
  width: 80%;
  height: 44.5vh;
  margin: 0 auto;
  animation: slide_project 1s;
}

@keyframes slide_project {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.project {
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
  cursor: pointer;
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #fcdab7;
}

.project:hover {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
}

.project_title {
  font-weight: bold;
  font-size: 48px;
  background: linear-gradient(to bottom right, #1d2d50 30%, #1e5f74);
  text-align: center;
  font-family: "Goldman", cursive;
  padding: 10% 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px #b9b9b9 solid;
}

.project_content {
  font-family: "Open Sans", sans-serif;
  padding: 10% 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px #b9b9b9 solid;
  border-top: none;
  color: #1e5f74;
}

.project_content span {
  margin: 0px 10px;
}

@media (max-width: 768px) {
  .project_container {
    width: 100%;
    height: 60vh;
  }

  .project {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .project_title {
    font-size: 28px;
  }
}
