.about_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  animation: slide_about 1s;
  background-color: #e7e7e7;
}

@keyframes slide_about {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about_title {
  font-family: "Ubuntu", sans-serif;
  display: block;
  font-size: 32px;
  font-style: italic;
  margin-bottom: 25px;
  color: #133b5c;
}

.about_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.about_info img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin-left: 5%;
}

.about_content {
  margin: 0 5%;
}

.about_skill {
  font-family: "Ubuntu", sans-serif;
}

.skill_title {
  display: block;
  font-size: 32px;
  font-style: italic;
  margin-bottom: 25px;
  color: #133b5c;
}

.skill_front {
  border-top: 2px #1e5f74 solid;
  margin-left: 10px;
}

.front_title {
  position: relative;
  color: #1e5f74;
  top: -14px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #e7e7e7;
}

.front_skills {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.front_skills div {
  margin-left: 20px;
}

.front_skills span {
  margin-left: 20px;
}

.html_logo {
  background-image: url("../Images/skills/html.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.css_logo {
  background-image: url("../Images/skills/css.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.javascript_logo {
  background-image: url("../Images/skills/javascript.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.react_logo {
  background-image: url("../Images/skills/react.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 100px;
  height: 110px;
}

.skill_back {
  border-top: 2px #1e5f74 solid;
  margin-left: 10px;
  margin-top: 30px;
}

.back_title {
  position: relative;
  color: #1e5f74;
  top: -14px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #e7e7e7;
}

.back_skills {
  display: flex;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.back_skills div {
  margin-left: 20px;
}

.back_skills span {
  margin-left: 20px;
}

.nodejs_logo {
  background-image: url("../Images/skills/nodejs.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.mongodb_logo {
  background-image: url("../Images/skills/mongodb.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 120px;
}

.mongoose_logo {
  background-image: url("../Images/skills/mongoose.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100px;
  height: 70px;
}

@media (max-width: 768px) {
  .about_container {
    width: 100%;
  }

  .about_info {
    flex-direction: column;
    align-items: center;
  }

  .about_info img {
    width: 50%;
    height: 50%;
  }

  .about_title {
    font-size: 24px;
  }

  .about_content {
    margin-top: 15px;
  }

  .skill_title {
    font-size: 24px;
  }

  .front_skills {
    flex-wrap: wrap;
  }

  .back_skills {
    flex-wrap: wrap;
  }

  .logos {
    width: 80px;
    height: 100px;
  }

  .mongoose_logo {
    margin-top: 60px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .about_info img {
    width: 70%;
    height: 70%;
  }
}
