.navigation_container {
  width: 80%;
  margin: 0 auto;
  padding: 1% 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px #b9b9b9 solid;
}

.navigation_ul {
  display: flex;
  justify-content: space-around;
}

.navigation_ul li {
  list-style: none;
  cursor: pointer;
}

.navigation_ul li:hover {
  color: #133b5c;
}

.navigation_ul li + li {
  border-left: 1px #b9b9b9 solid;
}

.color_black {
  color: #133b5c;
}

@media (max-width: 768px) {
  .navigation_container {
    font-size: 24px;
  }
}
